.mi-badge-jugado{
    padding: 8px !important;
    background-color: coral;
    width: auto;
    height: 30px;
}

.mi-badge-pendiente{
    padding: 8px !important;
    color: white;
    background-color: darkgray;
    width: auto;
    height: 30px;
}

.mi-badge-marcador{
    padding: 8px !important;
    background-color: coral;
    margin-left: 8px;
    margin-right: 8px;
}

.mi-card{
    display: flex;
    justify-content: space-between;
}
